In [8]:
distance_in_metres=30
distance_in_miles=distance_in_metres*0.621
print("distance in miles=", distance_in_miles, "miles")

distance in miles= 18.63 miles

In [10]:
weight_in_kilograms= 40
weight_in_pounds=weight_in_kilograms*2.20
print("weight in pounds", weight_in_pounds, "pounds")

weight in pounds = 88.0 pounds

In [66]:
variable_name = input("Enter variable value:- ")
type(variable_name)

Enter variable value:- 45

str